* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(33, 32, 37);
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-item + .menu-item {
  margin-left: 30px;
}

.menu-link {
  color: rgb(170, 165, 163);
  text-decoration: none;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.button {
  display: none;
}

@media (max-width: 760px) {
  .menu-list {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(33, 32, 37, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  .logo {
    position: relative;
    z-index: 3;
  }

  .menu-item + .menu-item {
    margin: 0;
  }

  .button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-btn {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: 0.4s ease;
  }

  .menu-btn:nth-child(1) {
    top: 0;
  }
  .menu-btn:nth-child(2) {
    top: 20px;
  }
  .menu-btn:nth-child(3) {
    top: 20px;
  }
  .menu-btn:nth-child(4) {
    top: 40px;
  }

  .menu-open .menu-btn:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .menu-btn:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .menu-btn:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .menu-btn:nth-child(4) {
    transform: scaleX(0);
  }

  .menu-open .menu-item {
    margin: 0 0 20px;
  }

  .menu-open .menu-list {
    padding: 50px 0;
    transform: translateY(0);
  }
}
